$columns: 12;
$max-width: 1200px;

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
}

.col {
    float: left;
    box-sizing: border-box;
}
.col-4 {
    width: percentage(4/$columns);
}
.col-6 {
    width: percentage(6/$columns);
}
.col-8 {
    width: percentage(8/$columns);
}
.col-12 {
    width: percentage(12/$columns);
}