$base-font-size: 16px;
$base-line-height: 22px;

body {
    color: $black;
    font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
    font-size: 100%;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
}

.super { // 48px
    font-family: "AvenirNextLTW01-Demi", Arial, sans-serif;
    font-size: (48px/$base-font-size) * 1em;
}
// line height calcs are eyeballed to 30px
h1,
.h1 { // 34px/44px
    font-size: (34px/$base-font-size) * 1em;
    line-height: (44/34);
    margin-bottom: (16/34) * 1em;
}

h2,
.h2 { // 26px/33px
    font-size: (26/16) * 1em;
    line-height: (33/26);
    margin-bottom: (19/26) * 1em;
}

h3,
.h3 { // 22px/28px
    font-size: (22/16) * 1em;
    line-height: (28/22);
    margin-bottom: (21/22) * 1em;
}

h4,
.h4 { // 18px
    font-family: "AvenirNextLTW01-Medium", Arial, sans-serif;
    font-size: (18/16) * 1em;
    font-style: normal;
    font-weight: 500;
    line-height: ($base-line-height/18px);
    margin-bottom: (21/18) * 1em;
}

h5,
.h5,
h6,
.h6 {
    font-family: "AvenirNextLTW01-Demi", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h5,
.h5 { // 14px
    font-size: (14px/$base-font-size) * 1em;
    line-height: ($base-line-height/14px);
    margin-bottom: (5/14);
}
h5.border-top span {
    border-top: 5px solid $green;
    display: inline-block;
    margin-top: -3px;
    padding-top: .25em;
}
h6,
.h6 { // 12px
    font-size: (12px/$base-font-size) * 1em;
    line-height: ($base-line-height/12px);
    margin-bottom: (5/12);
}

/* demi
font-family: "AvenirNextLTW01-Demi", Arial, sans-serif;
font-style: normal;
font-weight: bold;
*/

p,
ul,
ol,
dl,
table,
figure {
    margin-top: 0;
    margin-bottom: (20px/$base-font-size) * 1em;
}

.list-reset {
    list-style: none;
    padding-left: 0;
}

