$button-font-size: 16;
$button-v-pad: 8;

/*button,
.button {
  color: #fff;
  cursor: pointer;
  background-color: #50a748;
  font-family: "Avenir Next", Verdana, sans-serif;
  border-radius: 0.35em;
  border: 1px outset #afafb3;
  position: relative;
  top: -1px;
  padding: .45em .75em;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  transition: all 700ms ease;
}*/

button:disabled {
  background-color: #a9dc93;
}

button,
.button {
    background: $pacific;
    border: 0;
    border-radius: .25em;
    color: $white;

    display: inline-block;
    font-family: 'AvenirNextLTW01-Regular';
    font-size: 1em;
    margin: 0;
    height: auto;
    padding: ($button-v-pad/$button-font-size)*1em 14/$button-font-size*1em;
    text-decoration: none;
    vertical-align: middle;
    -webkit-appearance: none;

    &:hover {
      background: darken($pacific, 10%);
    }
    &:active {
      background: darken($pacific, 15%);
    }
}

button,
button::after,
button::before,
.button,
.button::after,
.button::before {
  box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:hover { text-decoration: none }

.button-small {
    font-size: .75em;
}

.button-secondary {
  color: $white;
  background-color: $gray;

  &:hover {
    background: darken($gray, 10%);
  }
  &:active {
    background: darken($gray, 15%);
  }
}

a.button {
  color: $white;
}
