@font-face {
  font-family: 'CFPB Minicons';
  src: url('../fonts/cf-icons.eot');
  src: url('../fonts/cf-icons.eot?#iefix') format('embedded-opentype'), url('../fonts/cf-icons.woff') format('woff'), url('../fonts/cf-icons.ttf') format('truetype'), url('../fonts/cf-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.cf-icon,
.cf-icon {
  font-family: 'CFPB Minicons';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.cf-icon__spin {
  -webkit-animation: cf-spin 2s infinite linear;
          animation: cf-spin 2s infinite linear;
}

.cf-icon-update:before {
    content: "\e112";
    color: $green;
}
.cf-icon-plus-round:before {
  content: "\e109";
}
.lt-ie8 .cf-icon-plus-round {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e109');
}
.cf-icon-minus-round:before {
  content: "\e111";
}
.lt-ie8 .cf-icon-minus-round {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e111');
}

.cf-icon-download:before  {
  content: "\e406";
}
.lt-ie8 .cf-icon-download {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e406');
}

.download-link:after {
  content: "\e406";

  font-family: 'CFPB Minicons';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 1px;
  margin-left: 1px;
}

a.download-link {
  border-bottom-width: 0;
  text-decoration: none;
  span {
    border-bottom-width: 1px;
    border-bottom-style: inherit;
  }
}

a .cf-icon {
  border-bottom-style: none;
  border-bottom-width: 0;
  text-decoration: none;
}

@-webkit-keyframes cf-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes cf-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.question .cf-icon {
  color: $pacific;
  font-size: .875em;
}
