.bg-gray {
    background-color: $gray-5;
}

.bg-black {
    background-color: $black;
    color: $white;

    a:link, a:visited {
        color: $white;
    }
}

.bg-gold {
    background-color: $darkgray;
    color: $gray-50;

    a:link, a:visited {
        color: $white;
    }
}

.bg-redorange-20 {
  background-color: $redorange-20;
}
.bg-gold-20 {
  background-color: $gold-20;
}

.warn {
  background-color: $gold-20;
  border-color: $gold;
}
.error {
  background-color: $redorange-20;
  border-color: $redorange;
}
