.group:before,
.group:after {
  content: " ";
  display: table
}
.group:after {
    clear: both;
}

.left {
    float: left;
}
.right {
    float: right;
}

.block {
    display: block;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}

.full-width {
    width: 96%;
}
.half-width {
    width: 50%;
}

.full-height {
    display: flex;
}
.u-visually-hidden, .hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.print-only {
    display: none;
}
