@import "node_modules/normalize.css/normalize";
@import "fonts";
@import "cfpb-colors";
@import "typography";
@import "grid";
@import "forms";
@import "buttons";
@import "tables";
@import "map";

@import "banner";
@import "header";
@import "footer";
@import "subnav";

@import "utility-layout";
@import "utility-spacing";
@import "utility-bg";
@import "utility-borders";

@import "print";

@import "minicons";

img {
  max-width: 100%;
}
.question {
  cursor: pointer;
}
